# Pandas is a vast data handling library in python, It has a vast variety of functions, We can categorise them in the following way –

## 1.Dataframe Manipulation Functions –

**pd.DataFrame():**

Explanation: Creates a new DataFrame.

In [4]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

**df.head(n):**

Explanation: Returns the first n rows of the DataFrame.

In [5]:
df.head(2)

   A  B
0  1  4
1  2  5

**df.tail(n):**

Explanation: Returns the last n rows of the DataFrame.

In [6]:
df.tail(2)

   A  B
1  2  5
2  3  6

**df.shape:**

Explanation: Returns a tuple representing the number of rows and columns in the DataFrame.

In [7]:
df.shape

(3, 2)

## 2.Data Selection and Indexing Functions -

**df.loc[]:**

Explanation: Accesses a group of rows and columns by label(s) or a boolean array.

In [8]:
df.loc[0]  # Selects the first row
df.loc[:, 'A']  # Selects all rows in column 'A'

0    1
1    2
2    3
Name: A, dtype: int64

**df.iloc[]:**

Explanation: Accesses a group of rows and columns by integer position(s).

In [9]:
df.iloc[0]  # Selects the first row
df.iloc[:, 0]  # Selects all rows in the first column

0    1
1    2
2    3
Name: A, dtype: int64

## 3.Data Filtering Functions -

**df[df['column'] condition]:**

Explanation: Filters rows based on a condition.

In [10]:
df[df['A'] > 1]  # Selects rows where 'A' is greater than 1

   A  B
1  2  5
2  3  6

## 4.Data Aggregation Functions -

**df.groupby():**

Explanation: Groups data by one or more columns for aggregation.

In [11]:
df.groupby('A').mean()  # Computes the mean of 'B' for each unique value in 'A'

     B
A
1  4.0
2  5.0
3  6.0

**df.aggregate():**

Explanation: Applies multiple aggregation functions to columns.

In [12]:
df.agg({'A': 'sum', 'B': 'mean'})

A    6.0
B    5.0
dtype: float64

## 5.Data Cleaning Functions -

**df.drop():**

Explanation: Drops specified labels from rows or columns.

In [13]:
df.drop('A', axis=1)  # Drops column 'A'

   B
0  4
1  5
2  6

**df.fillna():**

Explanation: Fills missing values with a specified value or method.

In [14]:
df.fillna(0)  # Fills NaN values with 0

   A  B
0  1  4
1  2  5
2  3  6